nav {
    float:left;
    padding: 15px;
    height: 100vh;
    background-color: gold;
}


div {
    background-color: crimson;
    color: white;
    margin: 25px;
}

#Information {
    background-color: white;
    color: crimson;
    box-shadow: 0 4px 8px 0 white;
    border-bottom: 80px solid white;
    border-top: 80px solid crimson;
    transition: 0.8s;
    padding: 15px;
    margin: 25px;
    display: block;
    width: 250px;
}
#About {
background-color: white;
color: crimson;
box-shadow: 0 4px 8px 0 white;
border-bottom: 80px solid white;
border-top: 80px solid crimson;
transition: 0.8s;
padding: 15px;
margin: 25px;
display: block;
width: 250px;
}
#Purpose{
background-color: white;
color: crimson;
box-shadow: 0 4px 8px 0 white;
border-bottom: 80px solid white;
border-top: 80px solid crimson;
transition: 0.8s;
padding: 15px;
margin: 25px;
display: block;
width: 250px;
}
#Projects {
    background-color: white;
    color: crimson;
    box-shadow: 0 4px 8px 0 white;
    border-bottom: 80px solid white;
    border-top: 80px solid crimson;
    transition: 0.8s;
    padding: 15px;
    margin: 25px;
    display: block;
    width: 250px;
}
#Skills {
    background-color: white;
    color: crimson;
    box-shadow: 0 4px 8px 0 white;
    border-bottom: 80px solid white;
    border-top: 80px solid crimson;
    transition: 0.8s;
    padding: 15px;
    margin: 25px;
    display: block;
    width: 250px;
}
    #Information:hover {
        transition: transform 0.8s ease-in-out;
        transform: rotate(720deg) scale(2);
        background-color: blue;
        border-bottom: blue;
        border-top: blue;
    }

ol {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

li a {
    background-color:blue;
    color: gold;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border-radius: 20px;
    margin: 5px;
}

    li a:hover {
        background-color: #555;
        cursor: pointer;
    }

#Container {
    margin: 100px;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: ghostwhite;
}
h2 {
    text-align: left;
    font-size: 150%;
    color: ghostwhite;
}
body {
    background-color: crimson;
}
